@CHARSET "ISO-8859-1";



div.loginForm {
	
	margin: auto;
	background: #ecebeb94;
	border-radius: 5px;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 100px;
	width: 400px;
	padding: 10px 20px;
	/* background: #ffffff; */
}

div.registerForm {
	
	margin: auto;
	background: #ecebeb94;
	border-radius: 5px;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 50px;
	width: 400px;
	padding: 10px 20px;
}

input.form-control {
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    background: #ffffff7a;
    box-shadow: none;
    margin-bottom: 10px;
}

div h2 {
	margin-bottom: 20px;
	
}

.btngrp {
    margin-top: 20px;
	/* border: 1px ssolid black; */
}

div form #loginBtn {
	margin-bottom: 10px;
	width: 50%;
    float: left;
    border-radius: 5px;
    height: 100%;
}

div form #registerBtn {
	margin-top: 10px;
	margin-bottom: 10px;
	/* width: 50%;
    float: left; */
    border-radius: 5px;
    height: 100%;
}

div form div #register {
	margin-bottom: 10px;
	/* width: 50%; */
    float: right;
    text-decoration: none;
    margin-top: 5px;
    color: rgb(104, 104, 104);
}

div form div a b:hover{
    color: blue;
    text-decoration: underline;
    
}

div div a {
	float: right;
}

div div #frgpsswd {
    text-decoration: none;
    font-weight: bold;
    color: rgb(104, 104, 104);

}

div div #frgpsswd:hover {
    color: blue;

}